a:link{
    color: rgb(0, 255, 55);
}

a:hover {
    color:rgb(0, 255, 55);
}

a:active {
    color: rgb(0, 119, 255);
    font-size: 1.1em;
}

a:visited {
    color: rgb(162, 0, 255);
}

li:hover {
    background-color: yellow;
}

li:not(:hover) {
    background-color: rgb(141, 132, 132);
}

li:nth-child(2n-1){
    background-color: blue;
}


#greetings p {
    background-color: lightblue;
    padding: 10px;
    display: none;
}

#greetings:hover p{
    display: block;
}

h1::first-letter {
    font-size: 2em;
    font-style: italic;
}

p::first-line {
    background-color: yellow;
}

p::selection {
    color: white;
    background-color: rgb(0, 255, 55);
}


#fruit ul li::before {
    content: "👍";
}

#fruit ul li::after {
    content: "👎";
}

#apple::before {
    content: "🍎";
}

#banana::before {
    content: "🍌";
}

#orange::before {
    content: "🍊";
}

#fruit li::marker{
    content: "🍉";
}