* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
    position: absolute;
}

.navbar {
    padding-left: 0;
    margin-top: 1%;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    letter-spacing: none;
    display: flex;
    justify-content: space-between;
}


.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 14px;
    padding-right: 42%;
    padding-top: 4.5px;
}

.navbar .logo {
    padding-right: 200px;
}

.navbar .logo:hover {
    transition: 0.4s ease-in;
    cursor: pointer;
    transform: translateX(2%);
}

.navbar ul li {
    list-style: none;
    padding: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover{
    background: linear-gradient(230deg,rgb(255, 47, 0), 
    rgb(255, 202, 30), rgb(255, 160, 8));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-204%);
    transition: .4s ease-in-out;
}

.navbar .logo h2 .lgs {
    background: linear-gradient(45deg, red, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.cn button{
    width: 120px;
    height: 25px;
    position: relative;
    left: 800px;
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 255, 0));
    border: none;
    color: white;
    border-radius: 15px;
}

.cn button:hover {
    transform: scale(1.09);
    background: white;
    border: 1px solid orangered;
    color: orangered;
    box-shadow: -2px 2px 5px 4px rgb(54, 44, 44);
   
}